/* CustomScrollbar.css */
.custom-scrollbar::-webkit-scrollbar {
    height: 8px; /* Height of the horizontal scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #cadefa; /* Background color of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #5b697e; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Roundness of the scrollbar thumb */
    border: 2px solid #1f2937; /* Padding around the thumb */
}
